<div ng-controller="JvmCtrl">
    <p>JVM View</p>

    <button ng:click="load()">Load Data</button>

    <table border>
        <tr>
            <th>Init</th>
            <th>Used</th>
            <th>Commited</th>
            <th>Max</th>
        </tr>

        <tr>
            <td ng-bind='heap.get("init")'></td>
            <td ng-bind='heap.get("used")'></td>
            <td ng-bind='heap.get("committed")'></td>
            <td ng-bind='heap.get("max")'></td>
        </tr>

    </table>

</div>